.grafics__next_left {
    display: block;
    background: url(../../../../images/вправо.png) center / 10px 16px no-repeat;
    margin-left: 10px;
    opacity: 50%; 
}

.grafics__next_left:hover {
    opacity: 100%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .grafics__next_left {
        margin-left: 5px;
        background: url(../../../../images/вправо.png) center / 5px 10px no-repeat;
    }
  }
