.elements {
  max-width: 1000px;
  margin: 47.25px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 890px) {
  .elements {
    max-width: 380px;
    margin-top: 26px;
  }
}

