.profile__add[type="button"] {
  background-image: url(../../../images/add_button.svg);
  background-color: black;
  padding: 0;
  width: 150px;
  height: 50px;
}

.profile__add[type="button"]:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .profile__add[type="button"] {
    background-image: url(../../../images/add_button_mobile.svg);
    width: 282px;
  }
}
