.profile__add {
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
}

.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .profile__add {
    width: 282px;
  }
}