.grafics__grafana {
    width: 900px;
    height: 810px;
    margin: 0 auto;
}

@media screen and (max-width: 890px) {
    .grafics__grafana {
      width: 520px;
      height: 650px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .grafics__grafana {
      width: 390px;
      height: 600px;
    }
  }

  